@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Play:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
.imgSharp:hover {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  /* Safari seems to support, but seems deprecated and does the same thing as the others. */
  image-rendering: -webkit-optimize-contrast;
}
.sharp {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  /* Safari seems to support, but seems deprecated and does the same thing as the others. */
  image-rendering: -webkit-optimize-contrast;
}
/* 
font-family: 'Gentium Plus', serif;
font-family: 'Proza Libre', sans-serif;
font-family: 'Courgette', cursive;

font-family: 'Dancing Script', cursive;
font-family: 'Play', sans-serif;
*/

.scroll-hidden::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
  -webkit-overflow-scrolling: touch;
  /* make scrollbar transparent */
}


*{box-sizing:border-box;font-smoothing:antialiased;text-rendering:optimizeLegibility;}
h1{@apply text-xl md:text-2xl lg:text-3xl font-play font-bold dark:text-white}
body {@apply font-openSans tracking-wide;}
img {@apply max-w-full w-auto;}

.btn {@apply px-6 py-2 text-sm font-play uppercase font-medium tracking-wide transition-all duration-300 transform rounded-lg focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50;}
.btn-light {@apply text-black bg-gradient-to-r from-slate-100 via-slate-400 to-slate-300 bg-[length:200%_100%] bg-left;}
.btn-light:hover {@apply text-black  bg-right;}
.btn-dark {@apply text-white bg-gradient-to-r from-slate-950 via-slate-500 to-slate-950 bg-[length:200%_100%] bg-left;}
.btn-dark:hover {@apply text-white  bg-right;}

.bg-gradient-primary {
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}
.bg-gradient-primary.bgg-hover:hover {
  background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
}
header {@apply sticky left-0 right-0 z-40 transition-all duration-300;}



@tailwind utilities;

/* .dropDown {position: relative;} */
.dropDown:hover .megaDropDown {display: block;}

header.nav-down {@apply top-0;}
header.nav-up {@apply -top-full;}

.openMenu .ham {@apply hidden;}
.openMenu .hamClose {@apply block;}
.openMenu .mainMenu {@apply flex;}
.mainMenu a, .dropDown a {@apply hover:text-yellow-600 dark:hover:text-yellow-400;}



body.open-drawer {@apply overflow-hidden;}
body.open-drawer:after {@apply absolute bg-black/70 inset-0 z-40;content: '';}
body.open-drawer #cartDrawer {@apply flex;}
.cart-drawer {@apply fixed inset-y-0 right-0 bg-white z-50;width: 400px;}
.cart-drawer .close {margin-right: -10px;}
.cart-drawer .d-body {@apply max-h-[66vh] h-full overflow-y-auto overflow-x-hidden;}
.cart-drawer .d-body::-webkit-scrollbar {display: none;}
.cart-drawer .cart-item .prod {width: calc(100% - 100px);}
.cart-drawer .cart-item .prod .qty-sec {width: 66px;}
.cart-drawer .cart-item .prod .qty-sec input {height: 20px;line-height: 20px;width: calc(100% - 40px);font-size: 10px;}
.cart-drawer .cart-item .prod .qty-sec button {width: 20px;height: 20px;font-size: 12px;}
.cart-drawer .cart-item .price-act {width: 100px;}
.cart-drawer .d-foot {position: absolute;bottom: 0;left: 0;right: 0;}
.cart-drawer .cart-summary {background: none;}




/* Left Nav Bar */
.leftPanel {@apply h-screen overflow-y-auto overflow-x-hidden;}
.nav a {@apply flex items-center text-base font-bold space-x-4 border-l-[3px] border-transparent px-4 py-2.5 text-slate-300 hover:border-current hover:text-slate-300 hover:bg-slate-300 hover:bg-opacity-10 transition-all duration-300;}
.nav a.active {@apply text-slate-300 border-slate-300 bg-slate-300 bg-opacity-10;}
/* rightInContent */
.rightInContent {@apply py-12 overflow-y-auto h-screen;}

/* Wrapper */
.wrapper {@apply max-w-screen-xl mx-auto px-3.5 md:px-5 xl:px-8 2xl:px-10;}





.prod-wrp {
  position: relative;
}
.prod-wrp .img-slider .img-gallery {
  width: calc(100% - 140px);
}
@media (max-width: 1500px) {
  .prod-wrp .img-slider .img-gallery {
    width: calc(100% - 130px);
 }
}
@media (max-width: 1200px) {
  .prod-wrp .img-slider .img-gallery {
    width: calc(100% - 120px);
 }
}
@media (max-width: 1024px) {
  .prod-wrp .img-slider .img-gallery {
    width: 100%;
 }
}
.prod-wrp .img-slider .img-gallery .slick-slide {
  background: #f4f4f5;
}
.prod-wrp .img-slider .img-gallery .slick-prev, .prod-wrp .img-slider .img-gallery .slick-next {
  height: 30px;
  width: 30px;
  z-index: 1;
}
@media (max-width: 767px) {
  .prod-wrp .img-slider .img-gallery .slick-prev, .prod-wrp .img-slider .img-gallery .slick-next {
    display: none !important;
 }
}
.prod-wrp .img-slider .img-gallery .slick-prev:before, .prod-wrp .img-slider .img-gallery .slick-next:before {
  display: none;
}
.prod-wrp .img-slider .img-gallery .slick-prev {
  background: url('../assets/svg/prev-big.svg') center no-repeat;
  left: 0;
}
.prod-wrp .img-slider .img-gallery .slick-next {
  background: url('../assets/svg/next-big.svg') center no-repeat;
  right: 0;
}
.prod-wrp .img-slider .thumbs {
  width: 140px;
}
@media (max-width: 1500px) {
  .prod-wrp .img-slider .thumbs {
    width: 130px;
 }
}
@media (max-width: 1200px) {
  .prod-wrp .img-slider .thumbs {
    width: 120px;
 }
}
@media (max-width: 1024px) {
  .prod-wrp .img-slider .thumbs {
    width: 100%;
    padding-top: 15px;
 }
}
.prod-wrp .nav-slider {
  margin: -10px 0;
}
@media (max-width: 1024px) {
  .prod-wrp .nav-slider {
    margin: 0;
    padding: 0 15px;
 }
}
.prod-wrp .nav-slider .slider .img {
  border: solid 1px transparent;
}
.prod-wrp .nav-slider .slick-current .img {
  border: solid 1px #000;
}
.prod-wrp .nav-slider .slick-prev, .prod-wrp .nav-slider .slick-next {
  width: 14px;
  height: 14px;
}
.prod-wrp .nav-slider .slick-prev {
  left: 0;
}
.prod-wrp .nav-slider .slick-next {
  right: 0;
}
.prod-wrp .zoom {
  top: 20px;
  right: 20px;
}
@media (max-width: 1024px) {
  .prod-wrp .zoom {
    top: 10px;
    right: 10px;
 }
}
.prod-wrp .price h6 {
  vertical-align: middle;
}
.prod-wrp .price .afterpay {
  vertical-align: middle;
}
.prod-wrp .price .afterpay img {
  vertical-align: middle;
  height: 14px;
}
@media (max-width: 1024px) {
  .prod-wrp .price .afterpay img {
    height: 10px;
 }
}
.prod-wrp .desc > * {
  margin: 0;
}
.prod-wrp .desc p {
  font-size: 12px;
}
@media (max-width: 767px) {
  .prod-wrp .desc p {
    font-size: 10px;
 }
}
.prod-wrp ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.prod-wrp .shape-swt .swatch-label:not(:last-child) {
  margin-right: 15px;
}
@media (max-width: 1024px) {
  .prod-wrp .shape-swt .swatch-label:not(:last-child) {
    margin-right: 12px;
 }
}
@media (max-width: 767px) {
  .prod-wrp .shape-swt .swatch-label:not(:last-child) {
    margin-right: 15px;
 }
}
.prod-wrp .shape-swt .swatch-label label {
  width: 28px;
  height: 42px;
  padding-bottom: 14px;
  opacity: 0.6;
}
.prod-wrp .shape-swt .swatch-label label:hover {
  opacity: 1;
}
.prod-wrp .shape-swt .swatch-label label img {
  width: 100%;
}
.prod-wrp .shape-swt .swatch-label label .txt {
  opacity: 0;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.prod-wrp .shape-swt .swatch-label input:checked + label {
  opacity: 1;
}
.prod-wrp .shape-swt .swatch-label input:checked + label .txt {
  opacity: 1;
}
.prod-wrp .clr-swt .swatch-label:not(:last-child) {
  margin-right: 5px;
}
.prod-wrp .clr-swt .swatch-label label {
  width: 24px;
  height: 24px;
  padding: 3px;
  border: solid 1px transparent;
  border-radius: 24px;
}
.prod-wrp .clr-swt .swatch-label label span {
  width: 16px;
  height: 16px;
  border-radius: 20px;
}
.prod-wrp .clr-swt .swatch-label label:hover {
  border: solid 1px #b3b3b3;
}
.prod-wrp .clr-swt .swatch-label input:checked + label {
  border: solid 1px #000;
}
.prod-wrp .clr-drop {
  width: 200px;
}
@media (max-width: 767px) {
  .prod-wrp .clr-drop {
    margin: 0 auto;
 }
}
.prod-wrp .clr-drop label span {
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 20px;
  margin-right: 15px;
  vertical-align: -4px;
}
.prod-wrp .clr-drop .custom-select__trigger {
  border: solid 1px #cacaca;
  position: relative;
}
.prod-wrp .clr-drop .custom-select__trigger:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.prod-wrp .clr-drop .custom .custom-options {
  border-top: none;
  top: 100%;
}
.prod-wrp .clr-drop .open .custom-select__trigger {
  border-bottom: solid 1px transparent;
}
.prod-wrp .clr-drop .open .arrow img {
  transform: rotate(180deg);
}
.prod-wrp .length-swt .swatch-label:not(:last-child) {
  margin-right: 10px;
}
.prod-wrp .length-swt .swatch-label label .txt {
  padding: 8px 12px;
}
.prod-wrp .length-swt .swatch-label label:hover .txt {
  border-color: #000;
  color: #000;
}
.prod-wrp .length-swt .swatch-label input:checked + label .txt {
  background: #000;
  color: #fff;
  border-color: #000;
}
.prod-wrp .qty-sec {
  width: 120px;
}
@media (max-width: 1024px) {
  .prod-wrp .qty-sec {
    width: 100px;
 }
}
@media (max-width: 1024px) {
  .prod-wrp .qty-sec button {
    width: 30px;
    height: 40px;
 }
}
@media (max-width: 767px) {
  .prod-wrp .qty-sec button {
    width: 30px;
    height: 34px;
 }
}
@media (max-width: 1024px) {
  .prod-wrp .qty-sec input {
    height: 40px;
    line-height: 40px;
    width: calc(100% - 60px);
 }
}
@media (max-width: 767px) {
  .prod-wrp .qty-sec input {
    height: 34px;
    line-height: 34px;
 }
}
.prod-wrp .btn.add-cart {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
@media (max-width: 767px) {
  .prod-wrp .btn.add-cart {
    line-height: 14px;
 }
}
@media (max-width: 1024px) {
  .prod-icn.four {
    max-width: 220px;
 }
}
@media (max-width: 767px) {
  .prod-icn.four {
    max-width: 300px;
    margin: 0 auto;
 }
}
@media (max-width: 1024px) {
  .prod-icn.four .icn {
    width: 45%;
 }
}
.prod-icn.three {
  max-width: 440px;
}
@media (max-width: 1024px) {
  .prod-icn.three {
    max-width: 250px;
 }
}
@media (max-width: 767px) {
  .prod-icn.three {
    margin: 0 auto;
 }
}
.know-sec .ttl {
  width: 140px;
  padding-right: 20px;
}
@media (max-width: 1500px) {
  .know-sec .ttl {
    width: 90px;
 }
}
@media (max-width: 1024px) {
  .know-sec .ttl {
    width: 75px;
 }
}
.know-sec .know-icn {
  width: calc(100% - 140px);
}
@media (max-width: 1500px) {
  .know-sec .know-icn {
    width: calc(100% - 90px);
 }
}
@media (max-width: 1024px) {
  .know-sec .know-icn {
    width: calc(100% - 77px);
 }
}
.know-sec .know-icn .icn:not(:first-child) {
  border-left: solid 1px #e9e9e9;
}
@media (min-width: 768px) {
  .award-wrp .award-sec {
    border-right: solid 1px #e9e9e9;
 }
}
.award-wrp .award-icn {
  max-width: 260px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .award-wrp .award-icn {
    margin-bottom: 30px;
 }
}
.award-wrp .award-icn .award-img {
  padding: 0 5px;
  width: 33.3333%;
}
@media (max-width: 767px) {
  .award-wrp .award-icn .award-img {
    padding: 0;
 }
}
.award-wrp .award-icn .award-img img {
  height: 64px;
  display: block;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .award-wrp .award-icn .award-img img {
    height: 60px;
 }
}
@media (max-width: 1024px) {
  .award-wrp .logo-slider .logo-img img {
    height: 24px;
 }
}
@media (max-width: 767px) {
  .award-wrp .logo-slider .logo-img img {
    height: 20px;
 }
}
.qty-sec {
  width: 150px;
  border: solid 1px #cacaca;
}
.qty-sec input {
  border: none;
  height: 46px;
  padding: 0 5px;
  line-height: 46px;
  width: calc(100% - 72px);
  background: #fff;
  font-size: 15px;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .qty-sec input {
    font-size: 12px;
 }
}
@media (max-width: 767px) {
  .qty-sec input {
    font-size: 10px;
 }
}
.qty-sec button {
  background: #fff;
  border: none;
  width: 36px;
  height: 46px;
  text-align: center;
  padding: 0;
  font-size: 16px;
  outline: none !important;
  transition: 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  .qty-sec button {
    font-size: 12px;
 }
}
