@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Play:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
.imgSharp:hover {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  /* Safari seems to support, but seems deprecated and does the same thing as the others. */
  image-rendering: -webkit-optimize-contrast;
}
.sharp {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  /* Safari seems to support, but seems deprecated and does the same thing as the others. */
  image-rendering: -webkit-optimize-contrast;
}
/* 
font-family: 'Gentium Plus', serif;
font-family: 'Proza Libre', sans-serif;
font-family: 'Courgette', cursive;

font-family: 'Dancing Script', cursive;
font-family: 'Play', sans-serif;
*/

.scroll-hidden::-webkit-scrollbar {
  height: 0px;
  background: transparent;
  /* make scrollbar transparent */
}
*{box-sizing:border-box;font-smoothing:antialiased;text-rendering:optimizeLegibility;}
h1{@apply text-xl md:text-2xl lg:text-3xl font-play font-bold dark:text-white}
body {@apply font-openSans tracking-wide;}
img {@apply max-w-full w-auto;}

.btn {@apply px-6 py-2 text-sm font-play uppercase font-medium tracking-wide transition-all duration-300 transform rounded-lg focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50;}
.btn-light {@apply text-black bg-gradient-to-r from-slate-100 via-slate-400 to-slate-300 bg-[length:200%_100%] bg-left;}
.btn-light:hover {@apply text-black  bg-right;}
.btn-dark {@apply text-white bg-gradient-to-r from-slate-950 via-slate-500 to-slate-950 bg-[length:200%_100%] bg-left;}
.btn-dark:hover {@apply text-white  bg-right;}

.bg-gradient-primary {
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}
.bg-gradient-primary.bgg-hover:hover {
  background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
}
header {@apply sticky left-0 right-0 z-40 transition-all duration-300;}



@tailwind utilities;

/* .dropDown {position: relative;} */
.dropDown:hover .megaDropDown {display: block;}

header.nav-down {@apply top-0;}
header.nav-up {@apply -top-full;}

.openMenu .ham {@apply hidden;}
.openMenu .hamClose {@apply block;}
.openMenu .mainMenu {@apply flex;}



body.open-drawer {@apply overflow-hidden;}
body.open-drawer:after {@apply absolute bg-black/70 inset-0 z-40;content: '';}
body.open-drawer #cartDrawer {@apply flex;}
.cart-drawer {@apply fixed inset-y-0 right-0 bg-white z-50;width: 400px;}
.cart-drawer .close {margin-right: -10px;}
.cart-drawer .d-body {@apply max-h-[66vh] h-full overflow-y-auto overflow-x-hidden;}
.cart-drawer .d-body::-webkit-scrollbar {display: none;}
.cart-drawer .cart-item .prod {width: calc(100% - 100px);}
.cart-drawer .cart-item .prod .qty-sec {width: 66px;}
.cart-drawer .cart-item .prod .qty-sec input {height: 20px;line-height: 20px;width: calc(100% - 40px);font-size: 10px;}
.cart-drawer .cart-item .prod .qty-sec button {width: 20px;height: 20px;font-size: 12px;}
.cart-drawer .cart-item .price-act {width: 100px;}
.cart-drawer .d-foot {position: absolute;bottom: 0;left: 0;right: 0;}
.cart-drawer .cart-summary {background: none;}
